# 依赖
/node_modules/
frontend/node_modules/
backend/target/
backend/data/
desktop/node_modules/
scripts/node_modules/
desktop/src-tauri/target/
desktop/src-tauri/gen/
*.db
.env
.DS_Store
dist/
frontend/dist/
*.exe
new-api-main